<!DOCTYPE html>
<html lang="en">
<!-- Head -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Inlcude Tailwind CSS -->
    <link rel="stylesheet" href="../../dist/output.css">
    <!-- Include JQuery -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Include local Javascript file -->
    <script src="home.js"></script>
    <!-- Title icon -->
    <link rel="icon" type="image/x-icon" href="../img/favicon.png">
    <!-- END -->
    <title>Books</title>
</head>
<!-- Body -->

<body class="bg-fixed" style="background-image: url(../img/librarybg.jpg)">
    <!-- Navbar -->
    <%- include('universal/navbar') %>
        <!-- Razia -->
        <div class="grid grid-flow-col m-10 p-5 text-white text-center text-lg rounded-lg">
            <div class="flex flex-col bg-pink-400 m-5 p-10 rounded-lg">
                <img class="h-full w-full shadow-lg rounded-md" src="../bookcover/GuardianCoverFull.jpg"
                    alt="not found!" />
                <h1 class="m-5">Guardian</h1>
            </div>
            <div class="flex flex-col bg-pink-400 m-5 p-10 rounded-lg">
                <img class="h-full w-full shadow-lg rounded-md" src="../bookcover/littlebrear.png" alt="not found!" />
                <h1 class="m-5">Little Bear</h1>
            </div>
            <div class="flex flex-col bg-pink-400 m-5 p-10 rounded-lg">
                <img class="h-full w-full shadow-lg rounded-md" src="../bookcover/hansel2.jpg" alt="not found!" />
                <h1 class="m-5">Hensel</h1>
            </div>
            <div class="flex flex-col bg-pink-400 m-5 p-10 rounded-lg">
                <img class="h-full w-full shadow-lg rounded-md" src="../bookcover/littlred.jpg" alt="not found!" />
                <h1 class="m-5">Little Red</h1>
            </div>
        </div>
        <!-- END -->
        <div class="bg-gray-200 m-5 p-5 shadow-lg">
            <!-- Show pdf -->
            <div class="bg-white m-5 p-5">
                <table class="bg-gray-300 shadow-lg table-auto w-full h-atuo">
                    <thead class="bg-green-700 text-white text-left break-keep">
                        <tr class="m-5 p-5 shadow-lg">
                            <th class="m-5 p-5">Book Name</th>
                            <th class="m-5 p-5">Cover</th>
                        </tr>
                    </thead>
                    <tbody class="break-keep">
                        <% data.forEach(entry=> { %>
                            <tr class="m-5 p-5">
                                <td class="m-5 p-5"><a href="/uploads/<%- entry.original_name %>">
                                        <%- entry.name %>
                                    </a>
                                </td>
                                <td class="m-5 p-5"><a href="/uploads/<%- entry.original_name %>">
                                        <img src="/uploads/<%- entry.original_cover %>" alt="not dounf cover">
                                    </a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
</body>

</html>