<!DOCTYPE html>
<html lang="en">
<!-- Head -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Inlcude Tailwind CSS -->
    <link rel="stylesheet" href="../dist/output.css">
    <!-- Include local Javascript file -->
    <script src="admin.js"></script>
    <!-- Title icon -->
    <link rel="icon" type="image/x-icon" href="../img/favicon.png">
    <!-- END -->
    <title>Dashboard</title>
</head>
<!-- Body -->

<body class="bg-gray-200">
    <!-- Header -->
    <%- include('partial/navbar') %>
        <!-- HTML -->
        <div class="flex flex-row">
            <!-- Include Header -->
            <%- include('partial/sidebar') %>
                <!-- HTML -->
                <div class="bg-white m-5 p-5 basis-4/5">
                    <table class="bg-gray-300 shadow-lg table-auto w-full h-atuo">
                        <thead class="bg-green-700 text-white text-left break-all">
                            <tr class="m-5 p-5 shadow-lg">
                                <th class="m-5 p-5">Name</th>
                                <th class="m-5 p-5">Email</th>
                                <th class="m-5 p-5">Phone</th>
                                <th class="m-5 p-5">Message</th>
                                <th class="m-5 p-5">Action</th>
                            </tr>
                        </thead>
                        <tbody class="break-all">
                            <% data.forEach(entry=> { %>
                                <tr class="m-5 p-5">
                                    <td class="m-5 p-5"><%- entry.name %></td>
                                    <td class="m-5 p-5"><%- entry.email %></td>
                                    <td class="m-5 p-5"><%- entry.phone %></td>
                                    <td class="m-5 p-5"><%- entry.message %></td>
                                    <td class="m-5 p-5"><button type="submit"
                                            class="bg-red-600 rounded-lg p-2 text-white"><a
                                                href="/delete/<%- entry.sn %>">Delete</a></button></td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
        </div>
</body>

</html>